/* 
Material Dark Theme
https://m2.material.io/design/color/dark-theme.html#ui-application

Primary:          #BB86FC
PrimaryVariant:   #3700B3
Secondary:        #03DAC6
Background:       #121212
Surface:          #121212
Error:            #CF6679
On Primary:       #000000
On Secondary:     #000000
On Background:    #000000
On Surface:       #FFFFFF
On Error:         #FFFFFF

*/

:root {
  --color-primary: #BB86FC;
  --color-primary-variant: #7C6BF2;
  --color-primary-variant-2: #1A0080;
  --color-primary-variant-3: #211653;
  --color-secondary: #03DAC6;
  --color-secondary-2: #008E87;
  --color-background: #121212;
  /* #141414. is 10% lighter than #121212 */
  --color-surface: #141414;
  --color-error: #CF6679;
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-background-2: #222222;
  --color-on-surface: #FFFFFF;
  --color-on-surface-2: #A6A6A6;
  --color-on-error: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 17px;
  padding: 30px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background) !important;
  min-width: 200px;
  zoom:1.07;
}

/* prevent horizontal scrolling */
body,
html {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--color-background) !important;
  padding: 30px 30px 10px 30px !important;
  position: fixed;
  top: 0;
  left: 0;
  transition: top .3s;
}

.hide {
  top: -40px
}

.nav-link {
  color: var(--color-on-surface) !important;
  padding-left: 30px !important;
  font-size: 18px !important;
}

.nav-link:hover {
  color: var(--color-primary) !important;
}

.nav-key-hover {
  color: var(--color-primary) !important;
  transform: scale(1.2);
}

.navbar-nav {
  padding-right: 30px !important;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.navbar-toggler {
  border-color: transparent !important;
  padding-right: 30px !important;
}

.navbar-toggler:hover {
  filter: brightness(0.7) !important;
}

.navbar-toggler:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* manually (rgba) change color of navbar toggler icon */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(187, 134, 252, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 50px 50px;
}

nav {
  width: 100% !important;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

.svg-container {
  position: relative;
}

/* .svg-container:hover {
  filter: brightness(0.7);
} */

.logo-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  font-size: 40px;
  font-weight: 400;
}

.intro {
  color: var(--color-primary);
  padding-bottom: 300px;
}

.intro p {
  font-size: 20px;
}

.intro .body {
  font-size: 18px;
  color: var(--color-on-surface-2);
}

.intro h1 {
  color: var(--color-on-surface);
  font-size: clamp(30px, 8vw, 75px);
}

.intro h2 {
  color: var(--color-on-surface-2);
  font-size: clamp(30px, 8vw, 75px);
}

.about {
  color: var(--color-primary);
  padding-bottom: 250px;
  padding-top: 250px;
  display: flex;
  flex:1;
}

.about p {
  font-size: 20px;
}

.about .body {
  font-size: 18px;
  color: var(--color-on-surface-2);
}

.about h1 {
  color: var(--color-on-surface);
  font-size: 60px;
}

.about h3::after {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: calc(61%);
  height: 1px;
  margin-left: 180px;
  background-color: var(--color-on-surface-2);
}

.about h3 {
  font-size: 30px;
}

.contact a,
.about a {
  color: var(--color-secondary) !important;
  text-decoration: none;
  padding-bottom: 2px;
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 2px;
  transition: background-size 0.3s ease-out;
}

.contact a:hover,
.about a:hover {
  background-size: 100% 2px;
}

.work {
  color: var(--color-primary);
  padding-bottom: 250px;
  padding-top: 250px;
  display: flex;
}

.work p {
  font-size: 20px;
}

.work .body {
  font-size: 18px;
  color: var(--color-on-surface-2);
}

.work h1 {
  color: var(--color-on-surface);
  font-size: 60px;
}

.work h3::after {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: calc(12%);
  height: 1px;
  margin-left: 300px;
  background-color: var(--color-on-surface-2);
}

.work h3 {
  font-size: 30px;
}

.contact {
  color: var(--color-primary);
  padding-bottom: 450px;
  padding-top: 250px;
  display: flex;
}

.contact p {
  font-size: 20px;
  color: var(--color-secondary);
  margin: 0 !important;
}

.contact .body {
  font-size: 18px;
  color: var(--color-on-surface-2);
}

.contact h1 {
  color: var(--color-on-surface);
  font-size: 60px;
}

.contact h3 {
  font-size: 30px;
}

.main-container {
  display:flex;
  flex-direction: column;
  margin-top: 250px;
  max-width: 900px;
  width: 100%;
}

.line1 {
  visibility: hidden;
}

.line1-text {
  position: fixed;
  top: 230px;
  left: 50px;
  font-size: 16px;
  color: var(--color-on-surface);
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  padding: 5px;
}

.line1-text a {
  height: 70px;
}

.line2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line2-text {
  font-size: 16px;
  color: var(--color-on-surface);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 60px;
  padding: 5px;
}

.line2-text a {
  height: 40px;
  width: 40px;
  transition:none;
}

.line2-text a:hover {
  color: var(--color-secondary) !important;
  text-decoration: none;
  background-size: 0 !important;
  transition: none !important;
  transform: scale(1.2) !important;
}

@media only screen and (max-width: 1250px) {
  .line1 {
    visibility: hidden;
  }

  .line1-text {
    visibility: hidden;
  }
}

a:not(.main-container *):hover {
  transform: scale(1.2);
}

/* stops the nav-links*/
a:not(.navbar *, .main-container *):hover {
  stroke: var(--color-primary);
  bottom: 10px;
}

/* stops the nav-brand*/
a:not(.navbar *):hover svg path {
  stroke: var(--color-primary);
}

/* polyline and rect are for the svgs */
a:hover polyline {
  stroke: var(--color-primary);
}

a:hover rect {
  stroke: var(--color-primary);
}

a:hover circle {
  stroke: var(--color-primary);
}

a:hover line {
  stroke: var(--color-primary);
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none;
  }

  .navbar-expand-sm .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .navbar-expand-sm .offcanvas .offcanvas-header {
    display: none;
  }

  .navbar-expand-sm .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 595px) {
  .navbar-expand-xs {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-xs .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-xs .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .navbar-expand-xs .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-xs .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-xs .navbar-toggler {
    display: none;
  }

  .navbar-expand-xs .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }

  .navbar-expand-xs .offcanvas .offcanvas-header {
    display: none;
  }

  .navbar-expand-xs .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.card {
  background-color: var(--color-on-background-2) !important;
  padding: 5px !important;
}

.list-group-item {
  background-color: var(--color-on-background-2) !important;
  color: var(--color-on-surface-2) !important;
  padding: 5px !important;
}

.list-group-item a:hover svg {
  transform: scale(1.2);
}

.card-title {
  color: var(--color-on-surface) !important;
  text-align: center !important;
  font-size: 22px !important;
}

.card-text {
  font-size: 16px !important;
}

.card-title a {
  color: var(--color-on-surface) !important;
  text-decoration: none !important;
}

.card-title a:hover {
  color: var(--color-primary) !important;
}

.card-body {
  color: var(--color-on-surface-2) !important;
  text-align: center !important;
  margin: 0px !important;
  padding: 10px 5px 5px 5px !important;
}

.row {
  display:flex;
  justify-content: center;
  align-items: center;
}
.col:not(.aboutme) {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme{
  align-self: flex-start !important;
}

.col h3 {
  align-items: center !important;
}

.card-img-top {
  object-fit: cover !important;
}

img {
  opacity: 0.7 !important;
}

img:hover {
  opacity: 1.0 !important;
  transform: scale(1.04);
}

.work svg {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.nav-key svg {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-right: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-gap: 20px; 
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;

}

.card-content {
  flex: 1; 
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
}