/* 
Material Dark Theme
https://m2.material.io/design/color/dark-theme.html#ui-application

Primary:          #BB86FC
PrimaryVariant:   #3700B3
Secondary:        #03DAC6
Background:       #121212
Surface:          #121212
Error:            #CF6679
On Primary:       #000000
On Secondary:     #000000
On Background:    #000000
On Surface:       #FFFFFF
On Error:         #FFFFFF

*/

/* 
Define color variables
*/
:root {
  /* Primary colors */
  --color-primary: #BB86FC;
  --color-primary-variant: #3700B3;
  --color-primary-variant-2: #1A0080;
  --color-primary-variant-3: #211653;

  /* Secondary colors */
  --color-secondary: #03DAC6;
  --color-secondary-2: #008E87;

  /* Background colors */
  --color-background: #121212;
  --color-surface: #141414;
  /* #141414. is 10% lighter than #121212 */
  /* Error color */
  --color-error: #CF6679;

  /* Text colors */
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-surface: #FFFFFF;
  --color-on-surface-2: #A6A6A6;
  --color-on-error: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-2);
}

/* .App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 17px;
  padding: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background) !important;
  min-width: 200px
}

/* prevent horizontal scrollingF */
body,
html {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--color-background) !important;
  padding-left: 30px !important;
  position: fixed;
  top: 0;
  left: 0;
  transition: top .3s;
}

.hide {
  top: -40px
}

.nav-link {
  color: var(--color-on-surface) !important;
  padding-left: 30px !important;
  font-size: 18px !important;
}

.nav-link:hover {
  color: var(--color-primary) !important;
}

.navbar-nav {
  padding-right: 30px !important;
}

.navbar-toggler {
  border-color: transparent !important;
  padding-right: 30px !important;
}

.navbar-toggler:hover {
  filter: brightness(0.7) !important;
}

.navbar-toggler:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* manually (rgba) change color of navbar toggler icon */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(187, 134, 252, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-size: 50px 50px;
}

nav {
  width: 100% !important;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  fill: none;
}

.svg-container {
  position: relative;
}

.svg-container:hover {
  filter: brightness(0.7);
}

.logo-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  font-size: 40px;
  font-weight: 400;
}

.intro {
  position: relative;
  left: calc(20% - 100px);
  color: var(--color-primary);
  padding-bottom: 300px;
}

.intro p {
  font-size: 20px;
}

.intro .body {
  font-size: 18px;
  color: var(--color-on-surface-2);
  max-width: 540px;
}

.intro h1 {
  color: var(--color-on-surface);
  /* font-size: 60px; */
  font-size: clamp(40px, 8vw, 80px);
}

.intro h2 {
  color: var(--color-on-surface);
  filter: brightness(0.65);
  /* font-size: 60px; */
  font-size: clamp(40px, 8vw, 80px);
}

.about {
  position: relative;
  left: calc(20% - 100px);
  color: var(--color-primary);
  padding-bottom: 500px;
}

.about p {
  font-size: 20px;
}

.about .body {
  font-size: 18px;
  color: var(--color-on-surface);
  filter: brightness(0.65);
  width: 80% !important;
}

.about h1 {
  color: var(--color-on-surface);
  font-size: 60px;
}

.about h3::after {
  content: "";
  display: block;
  position: relative;
  top: -15px;
  width: calc(69% - 150px);
  height: 1px;
  margin-left: 180px;
  background-color: var(--color-on-surface);
}

.about h2 {
  color: var(--color-on-surface);
  filter: brightness(0.65);
  font-size: 60px;
}

.about h3 {
  /* color: var(--color-on-surface);
  filter: brightness(0.65); */
  font-size: 30px;
}

.main-container {
  position: absolute;
  top: 250px;
  padding-right: 30px;
  max-width: 1000px;
  padding-left: 50px;
}

.line1 {
  visibility: hidden;
}

.line1-text {
  position: fixed;
  top: 230px;
  left: 50px;
  font-size: 16px;
  color: var(--color-on-surface);
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;
  padding: 5px;
}

.line1-text a {
  height: 70px;
}

@media only screen and (max-width: 767px) {
  .line1 {
    visibility: hidden;
  }

  .line1-text {
    visibility: hidden;
  }
}

@media only screen and (min-width:1000px) {
  .App {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

a:not(.main-container *) {
  position: relative;
  bottom: 0;
  transition: bottom 0.3s ease-in-out;
}

/* stops the nav-links*/
a:not(.navbar *, .main-container *):hover {
  stroke: var(--color-primary);
  bottom: 10px;
}

.main-container a {
  color: var(--color-primary);
  bottom: 10px;
}

.main-container a:hover {
  color: var(--color-primary);
  filter: brightness(0.65);
}

/* stops the nav-brand*/
a:not(.navbar *):hover svg path {
  stroke: var(--color-primary);
}

/* polyline and rect are for the svgs */
a:hover polyline {
  stroke: var(--color-primary);
}

a:hover rect {
  stroke: var(--color-primary);
}

a:hover circle {
  stroke: var(--color-primary);
}